.login-container {
  position: relative;
  text-align: center;
}

.home-container-content {
  background: linear-gradient(
    180deg,
    rgba(247, 180, 171, 1) 0%,
    rgba(255, 189, 128, 1) 25%
  );

  padding-top: 30px;
  text-align: center;
  margin-top: -1px;
}

.bg-login-image {
  width: 100%;
  height: 100vh;
}

.mt-15 {
  margin-top: 15px;
}

.login-button {
  font-size: 32px;
  width: 80%;
  text-align: center;
}

.login-subtitle {
  font-family: "PT Mono", monospace;
  font-weight: 700;
  font-size: 30px;
}

.login-input {
  border: none;
  font-size: 24px;
  font-family: "PT Mono", monospace;
  padding-left: 10px;
  width: 100%;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  margin-bottom: 5px;
}

.home-content {
  height: 50vh;
}

.headers-button {
  font-size: 24px;
}

.login-box {
  background: #e5e5e5;
  border: 1px solid #1601ff;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 56px;
  padding: 5px 50px 75px;
  width: 35vw;
}

.login-title {
  cursor: pointer;
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 130px;
  line-height: 300px;
  color: #ffffff;
  margin-bottom: 0;
  margin-top: -15%;
  text-shadow: 2px 0 0 #5200ff, -2px 0 0 #5200ff, 0 2px 0 #5200ff,
    0 -2px 0 #5200ff, 1px 1px #5200ff, -1px -1px 0 #5200ff, 1px -1px 0 #5200ff,
    -1px 1px 0 #5200ff, 0 1px 0 #5200ff, 0 2px 0 #5200ff, 0 3px 0 #5200ff,
    0 4px 0 #db75ff, 0 5px 0 #db75ff, 0 6px 0 #db75ff, 0 7px 0 #db75ff,
    0 8px 0 #db75ff, 0 9px 0 #db75ff, 0 10px 0 #db75ff, 0 11px 0 #db75ff,
    0 12px 0 #5200ff, 0 13px 0 #5200ff, 0 14px 0 #5200ff, 0 15px 0 #5200ff,
    0 16px 0 #db75ff, 0 17px 0 #db75ff, 0 18px 0 #db75ff, 0 19px 0 #db75ff,
    0 20px 0 #db75ff, 0 21px 0 #db75ff, 0 22px 0 #db75ff, 0 23px 0 #db75ff,
    0 24px 0 #db75ff, 0 25px 0 #5200ff, 0 26px 0 #5200ff, 0 27px 0 #5200ff;
}

@media only screen and (max-width: 600px) {
  .login-title {
    font-size: 3.5rem;
    margin-top: 0;
    line-height: 85px;
    text-shadow: 1px 0 0 #5200ff, -1px 0 0 #5200ff, 0 1px 0 #5200ff,
      0 -1px 0 #5200ff, 1px 1px #5200ff, -1px -1px 0 #5200ff, 1px -1px 0 #5200ff,
      -1px 1px 0 #5200ff, 0 1px 0 #5200ff, 0 2px 0 #5200ff, 0 3px 0 #db75ff,
      0 4px 0 #db75ff, 0 5px 0 #db75ff, 0 6px 0 #5200ff, 0 7px 0 #5200ff,
      0 8px 0 #db75ff, 0 9px 0 #db75ff, 0 10px 0 #db75ff, 0 11px 0 #db75ff,
      0 12px 0 #5200ff, 0 13px 0 #5200ff;
  }

  .login-button {
    font-size: 10px;
  }

  .headers-button {
    font-size: 10px;
  }

  .login-subtitle {
    font-size: 1.5rem;
  }

  .login-box {
    border-radius: 30px;
    padding: 15px 25px 30px;
    width: 80vw;
  }
}
