.home-container {
  position: relative;
  text-align: center;
}

.bg-image {
  width: 100%;
  max-height: 100vh;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.metamask-button {
  font-size: 35px;
}

.headers-button {
  font-size: 24px;
}

.metamask-icon {
  width: 65px;
  padding-left: 15px;
}

.home-title {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 15rem;
  line-height: 300px;
  color: #ffffff;
  margin-bottom: 0;
  margin-top: -3.5rem;
  text-shadow: 2px 0 0 #5200ff, -2px 0 0 #5200ff, 0 2px 0 #5200ff,
    0 -2px 0 #5200ff, 1px 1px #5200ff, -1px -1px 0 #5200ff, 1px -1px 0 #5200ff,
    -1px 1px 0 #5200ff, 0 1px 0 #5200ff, 0 2px 0 #5200ff, 0 3px 0 #5200ff,
    0 4px 0 #db75ff, 0 5px 0 #db75ff, 0 6px 0 #db75ff, 0 7px 0 #db75ff,
    0 8px 0 #db75ff, 0 9px 0 #db75ff, 0 10px 0 #db75ff, 0 11px 0 #db75ff,
    0 12px 0 #5200ff, 0 13px 0 #5200ff, 0 14px 0 #5200ff, 0 15px 0 #5200ff,
    0 16px 0 #db75ff, 0 17px 0 #db75ff, 0 18px 0 #db75ff, 0 19px 0 #db75ff,
    0 20px 0 #db75ff, 0 21px 0 #db75ff, 0 22px 0 #db75ff, 0 23px 0 #db75ff,
    0 24px 0 #db75ff, 0 25px 0 #5200ff, 0 26px 0 #5200ff, 0 27px 0 #5200ff;
}

@media only screen and (max-width: 600px) {
  .home-title {
    font-size: 3.5rem;
    margin-top: 0;
    line-height: 85px;
    text-shadow: 1px 0 0 #5200ff, -1px 0 0 #5200ff, 0 1px 0 #5200ff,
      0 -1px 0 #5200ff, 1px 1px #5200ff, -1px -1px 0 #5200ff, 1px -1px 0 #5200ff,
      -1px 1px 0 #5200ff, 0 1px 0 #5200ff, 0 2px 0 #5200ff, 0 3px 0 #db75ff,
      0 4px 0 #db75ff, 0 5px 0 #db75ff, 0 6px 0 #5200ff, 0 7px 0 #5200ff,
      0 8px 0 #db75ff, 0 9px 0 #db75ff, 0 10px 0 #db75ff, 0 11px 0 #db75ff,
      0 12px 0 #5200ff, 0 13px 0 #5200ff;
  }

  .metamask-button {
    font-size: 20px;
  }

  .headers-button {
    font-size: 15px;
  }

  .metamask-icon {
    width: 45px;
    padding-left: 15px;
  }
}
