.home-container {
  position: relative;
  text-align: center;
}

.home-container-content {
  padding: 0 7.5%;
  background: linear-gradient(
    180deg,
    rgba(247, 180, 171, 1) 0%,
    rgba(255, 189, 128, 1) 25%
  );

  padding-top: 30px;
  margin-top: -1px;
  padding-bottom: 60px;
}

.home-container-content > div {
  margin: 40px 0;
}

.bg-image {
  width: 100%;
  max-height: 100vh;
}

.metamask-button {
  font-size: 24px;
}

.home-subtitle {
  font-family: "PT Mono", monospace;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 0;
}

.home-content {
  width: 80%;
  background-color: white;
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  padding: 20px 30px;
  border: 2px solid #1601ff;
  box-shadow: 20px 20px #db75ff;
}

.team-content {
  font-family: "PT Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  padding: 20px 30px;
  text-align: center;
}

.disclaimer-margin {
  padding-left: 20% !important;
  width: 120%;
}

.headers-button {
  font-size: 24px;
}

.metamask-icon {
  width: 65px;
  padding-left: 15px;
}

.home-title {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 13.5rem;
  line-height: 300px;
  color: #ffffff;
  margin-bottom: 0;
  margin-top: -15%;
  text-shadow: 2px 0 0 #5200ff, -2px 0 0 #5200ff, 0 2px 0 #5200ff,
    0 -2px 0 #5200ff, 1px 1px #5200ff, -1px -1px 0 #5200ff, 1px -1px 0 #5200ff,
    -1px 1px 0 #5200ff, 0 1px 0 #5200ff, 0 2px 0 #5200ff, 0 3px 0 #5200ff,
    0 4px 0 #db75ff, 0 5px 0 #db75ff, 0 6px 0 #db75ff, 0 7px 0 #db75ff,
    0 8px 0 #db75ff, 0 9px 0 #db75ff, 0 10px 0 #db75ff, 0 11px 0 #db75ff,
    0 12px 0 #5200ff, 0 13px 0 #5200ff, 0 14px 0 #5200ff, 0 15px 0 #5200ff,
    0 16px 0 #db75ff, 0 17px 0 #db75ff, 0 18px 0 #db75ff, 0 19px 0 #db75ff,
    0 20px 0 #db75ff, 0 21px 0 #db75ff, 0 22px 0 #db75ff, 0 23px 0 #db75ff,
    0 24px 0 #db75ff, 0 25px 0 #5200ff, 0 26px 0 #5200ff, 0 27px 0 #5200ff;
}

@media only screen and (max-width: 600px) {
  .home-title {
    font-size: 3.5rem;
    margin-top: 0;
    line-height: 85px;
    text-shadow: 1px 0 0 #5200ff, -1px 0 0 #5200ff, 0 1px 0 #5200ff,
      0 -1px 0 #5200ff, 1px 1px #5200ff, -1px -1px 0 #5200ff, 1px -1px 0 #5200ff,
      -1px 1px 0 #5200ff, 0 1px 0 #5200ff, 0 2px 0 #5200ff, 0 3px 0 #db75ff,
      0 4px 0 #db75ff, 0 5px 0 #db75ff, 0 6px 0 #5200ff, 0 7px 0 #5200ff,
      0 8px 0 #db75ff, 0 9px 0 #db75ff, 0 10px 0 #db75ff, 0 11px 0 #db75ff,
      0 12px 0 #5200ff, 0 13px 0 #5200ff;
  }

  .metamask-button {
    font-size: 10px;
  }

  .headers-button {
    font-size: 10px;
  }

  .home-subtitle {
    font-size: 1.5rem;
  }

  .metamask-icon {
    width: 45px;
    padding-left: 15px;
  }

  .home-content {
    width: 100%;
    font-size: 12px;
    padding: 10px 15px;
    border: 2px solid #1601ff;
    box-shadow: 10px 10px #db75ff;
  }

  .team-content {
    font-size: 12px;
  }

  .disclaimer-margin {
    padding-left: 0% !important;
    width: 100%;
  }
}
