.certificate-template-container {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.certificate-template-gallery {
  width: 40%;
}

.certificate-template-content {
  width: 60%;
}

.certificate-template-gallery-container {
  position: relative;
  padding: 10px 45px;
}

.certificate-template-preview-container {
  background-color: white;
  border: 1px solid #1601ff;
}

.certificate-template-preview-container > img {
  width: 100%;
}

.certificate-template-gallery-container::-webkit-scrollbar {
  width: 5px;
}

.certificate-template-gallery-container::-webkit-scrollbar-thumb {
  background: linear-gradient(
    270deg,
    rgba(255, 122, 0, 0.3) 13.42%,
    rgba(219, 117, 255, 0.3) 82.94%
  );
  border-radius: 30px;
}

.certificate-template-gallery-item {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.5s;

  background-color: white;
}
.certificate-template-gallery-item:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.certificate-template-gallery-item > img {
  width: 100%;
}

.certificate-template-gallery-item > div {
  font-family: "PT Mono", monospace;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: 0em;
  margin: auto;
}
.certificate-template-gallery-item-active {
  color: #1601ff;
  border: 1px solid #1601ff;
}

.certificate-template-buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 15px;
}

.certificate-template-buttons {
  font-size: 24px;
}

.new-course-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.new-course-form > div {
  width: 60%;
}

.new-course-label {
  font-family: Roboto;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
}
.new-course-input-group {
  line-height: 18px;
  margin-bottom: 10px;
}

.new-course-error {
  font-family: Roboto;
  font-size: 12px;
  color: red;
  font-weight: 100;
  line-height: 14px;
}

.new-course-button-container {
  margin-bottom: 30px;
  text-align: right;
}

.new-course-form-container {
  height: 60vh;
  padding: 0 30px;
  overflow: auto;
}

.new-course-form-container::-webkit-scrollbar {
  width: 5px;
}

.new-course-form-container::-webkit-scrollbar-thumb {
  background: linear-gradient(
    270deg,
    rgba(255, 122, 0, 0.3) 13.42%,
    rgba(219, 117, 255, 0.3) 82.94%
  );
  border-radius: 30px;
}

.new-course-review-title {
  font-family: Roboto;
  font-size: 52px;
  font-weight: 700;
  letter-spacing: 0em;
  color: #1601ff;
  margin-bottom: 0;
}

.new-course-review-address {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  margin-bottom: 20px;
}

.modal-confirmation > .ant-modal-content {
  background-color: #e5e5e5;
  border: 1px solid #1601ff;
  border-radius: 30px;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
}

.modal-confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;

  gap: 10px;
  padding: 30px 0;
}

@media only screen and (max-width: 600px) {
  .certificate-template-container {
    flex-direction: column;
    padding-bottom: 30px;
  }
  .certificate-template-gallery,
  .certificate-template-content {
    width: 100%;
  }

  .certificate-template-gallery-container {
    padding: 10px 10px;
    display: flex;
    gap: 30px;
    height: auto !important;
    max-height: calc(100vh - 440px) !important;
  }
  .certificate-template-gallery-item {
    grid-template-columns: 100%;
    padding: 10px;
  }

  .certificate-template-gallery-item > div {
    font-size: 16px;
    line-height: 18px;
  }
  .certificate-template-gallery-item > img {
    width: 150px;
  }
  .certificate-template-gallery-container::-webkit-scrollbar {
    height: 5px;
  }
  .certificate-template-subtitle {
    overflow-wrap: break-word;
  }
  .certificate-template-buttons-container {
    justify-content: center;
  }
  .new-cetificate-form > div {
    width: 100%;
  }
  .new-course-form-container {
    padding: 0 15px;
  }
  .new-course-review-title {
    font-size: 25px;
  }
}
