@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  padding: 0;
}

.ml-3 {
  margin-left: 10px;
}

.mr-3 {
  margin-right: 10px;
}
.mr-5 {
  margin-right: 30px;
}

.header {
  width: 100vw;
  background-color: #8f71c9;
}

.header-content {
  padding: 10px;
  text-align: right;
}
